.App {
  width: fit-content;
}

.school-wrapper {
  display: flex;
}

.school-data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pie-charts {
  display: flex;
  flex-direction: column;
}

.program-pie-section, .race-ethnicity-pie, .gender-pie {
  height: 400px;
  padding: 40px 0;
}

.program-pie-section, .race-ethnicity-pie {
  display: flex;
  flex-direction: column;
  width: auto;
}

.button {
  padding: 16px 8px;
  background-color: rgb(0, 67, 70);
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  min-width: 120px;
  margin-right: 16px;
}

@media only screen and (max-width: 600px) {
  .pie-charts > div.race-ethnicity-pie > div > div > svg > g {
    transform: translate(100px, 10px);
  }
  .school-visuals > div.pie-charts > div.race-ethnicity-pie > div > div > svg > g {
    transform: translate(100px, 10px);
  }
}

